@import url('https://use.typekit.net/xnx2llc.css');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background-color: #000;
  color: #fff;
}
html {
  -moz-osx-font-smoothing: grayscale;
}
